.movies-cards-list {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  align-items: center;
  padding: 72px 5px 0;
  margin: 0;
}

.movies-cards-list__items {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 43px;
}

@media screen and (max-width: 768px) {
  .movies-cards-list {
    max-width: 708px;
    padding-bottom: 29px;
    padding-top: 41px;
  }

  .movies-cards-list__items {
    gap: 40px;
  }
}

@media screen and (max-width: 666px) {
  .movies-cards-list {
    max-width: 708px;
    padding-bottom: 29px;
    padding-top: 41px;
  }

  .movies-cards-list__items {
    gap: 103px 30px;
  }
}

@media screen and (max-width: 499px) {
  .movies-cards-list {
    display: grid;
    grid-template-columns: 300px;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
  }

  .movies-cards-list__items {
    display: grid;
    grid-template-columns: 300px;
    gap: 116px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .movies-cards-list {
    display: grid;
    grid-template-columns: 300px;
    gap: 20px;
    padding: 0;
    margin: 0 10px 0 10px;
  }

  .movies-cards-list__items {
    display: grid;
    grid-template-columns: 300px;
    gap: 116px;
  }
}
