.movies-card {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background: #2f2f2f;
  max-width: 1140px;
  max-height: 136px;
}

.movies-card__image {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  width: 220px;
  height: 124.72px;
  display: block;
  object-fit: cover;
  cursor: pointer;
  background: #2f2f2f;
}

.movies-card__info {
  margin: 0;
  padding: 22px 0 22px 17px;
  display: grid;
}

.movies-card__title {
  width: 400px;
  height: 22px;
  margin: 0;
  padding-bottom: 2px;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies-card__duration {
  margin: 0;
  color: #8b8b8b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
  font-family: Inter;
  height: 13px;
}

.movies-card__like {
  margin: 0;
  padding: 0;
  background-image: url(../../images/unactive-like-icon.svg);
  margin: 0;
  background-color: transparent;
  width: 14px;
  height: 12px;
  border: none;
  cursor: pointer;
}

.movies-card__like:hover {
  transition: opacity 0.5s linear;
  opacity: 0.5;
}

.movies-card__like_active {
  margin: 0;
  padding: 0;
  background-image: url(../../images/active-like-icon.svg);
  margin: 0;
  background-color: transparent;
  width: 20px;
  height: 12px;
  border: none;
  cursor: pointer;
}

.movies-card__delete {
  margin: 0;
  padding: 0;
  background-image: url(../../images/movie-delete-icon.svg);
  margin: 0;
  background-color: transparent;
  width: 14px;
  height: 12px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movies-card__title {
    padding-bottom: 12px;
  }

  .movies-card {
    max-width: 708px;
    height: 134px;
    margin: 0 auto;
  }

  .movies-card__image {
    width: 220px;
    height: 122px;
  }

  .movies-card__like {
    margin-right: 14px;
    margin-top: 0;
  }

  .movies-card__duration {
    padding-left: 0;
    padding-bottom: 28px;
  }

  .movies-card__info {
    padding: 22px 0 22px 22px;
  }
}

@media screen and (max-width: 696px) {
  .movies-card {
    width: 300px;
    height: 232px;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    gap: 14px;
    background: #2f2f2f;
  }

  .movies-card__image {
    width: 300px;
    height: 168px;
    order: -1;
    padding: 0;
  }

  .movies-card__title {
    margin-right: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
    width: 228px;
    height: 15px;
    margin-left: 0;
  }

  .movies-card__like {
    margin-right: 7px;
    margin-top: 2px;
  }

  .movies-card__duration {
    font-size: 11px;
    padding-bottom: 0;
  }

  .movies-card__info {
    margin: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 8px;
    padding-left: 12px;
  }
}
