.form {
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 345px;
  margin: 0;
}

.form:focus {
  outline: none;
}

.form__error-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  color: red;
}

@media screen and (max-width: 430px) {
  .form {
    width: 260px;
    height: 423px;
    padding-bottom: 11px;
  }
}
