.promo {
  background-color: #272727;
  max-width: 1200px;
  width: calc(100% - 40px);
  min-height: 493px;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.promo__title {
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  max-width: 730px;
  margin: 0 auto;
  padding-top: 162px;
  padding-bottom: 151px;
}

@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    max-width: 680px;
    padding-top: 350px;
    padding-bottom: 314px;
  }
}

@media screen and (max-width: 555px) {
  .promo {
    width: calc(100% - 28px);
    min-height: 586px;
    padding-bottom: 17px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1.16px;
    max-width: 292px;
    margin: 0 auto;
    padding-top: 222px;
    padding-bottom: 213px;
  }
}
