.authorization {
  max-width: 396px;
  margin: 70px auto;
}

.authorization__logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.authorization__logo:hover {
  transition: opacity 0.5s linear;
  opacity: 0.5;
}

.authorization__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-top: 38px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 38px;
}

.authorization__text-hint {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.authorization__link {
  color: #4285f4;
  text-decoration: none;
  padding-left: 6px;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.authorization__link:hover {
  transition: opacity 0.5s linear;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .authorization {
    margin-top: 232px;
  }

  .authorization__title {
    padding-top: 37px;
  }
}

@media screen and (max-width: 500px) {
  .authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 260px;
  }

  .authorization__logo {
    align-items: center;
  }

  .authorization__title {
    align-self: center;
    padding: 44px 0 79px;
  }

  .authorization__text-hint {
    font-size: 12px;
    line-height: 15px;
  }

  .authorization__link {
    padding-left: 7px;
  }
}
