.about-project {
  max-width: 1280px;
  color: #fff;
  font-family: Inter;
  margin: 0 auto;
  padding: 110px 70px;
}

.about-project__title {
  color: #fff;
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.about-project__container {
  padding-top: 70px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.about-project__block {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-project__heading {
  margin: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__description {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__progress {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 110px;
  row-gap: 14px;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.about-project__progress-line {
  margin: 0;
  background-color: #3ddc84;
  padding-right: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 0;
  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.about-project__progress-line:last-of-type {
  color: #ffffff;
  background-color: #202020;
}

.about-project__progress-subtitle {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  font-family: Inter;
}

@media screen and (max-width: 768px) {
  .about-project {
    padding: 91px 51px;
  }

  .about-project__container {
    gap: 36px;
  }

  .about-project__block {
    gap: 22px;
  }

  .about-project__description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__progress {
    grid-template-columns: 1.06fr 4fr;
    margin-top: 93px;
  }

  .about-project__progress-line {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-project__progress-subtitle {
    font-family: "Suisse Intl";
    font-weight: 400;
    color: #a0a0a0;
  }
}

@media screen and (max-width: 600px) {
  .about-project {
    padding: 71px 18px;
  }

  .about-project__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .about-project__container {
    flex-direction: column;
    padding-top: 61px;
    gap: 58px;
  }

  .about-project__block {
    gap: 16px;
  }

  .about-project__heading {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__description {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__progress {
    grid-template-columns: 2.17fr 4fr;
    margin-top: 59px;
    row-gap: 10px;
  }

  .about-project__progress-line {
    font-size: 11px;
    padding: 11px 10px;
  }

  .about-project__progress-subtitle {
    font-size: 11px;
    font-family: "Suisse Intl";
    color: #a0a0a0;
    line-height: normal;
  }
}
