.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px 0 53px;
  border-bottom: 1px solid #424242;
  margin: 0;
}

.checkbox__input {
  margin: 0;
  padding: 0;
  position: relative;
  width: 36px;
  height: 20px;
  appearance: none;
  border-radius: 20px;
  background: #ebebeb;
  cursor: pointer;
}

.checkbox__input::after {
  position: absolute;
  content: "";
  height: 15px;
  left: 5.54%;
  right: 50%;
  top: 10.5%;
  bottom: 60.85%;
  border-radius: 50%;
  background: #f5f5f5;
  box-shadow: 0px 2px 6px rgba(52, 52, 52, 1);
  transition: 0.2s linear;
}

.checkbox__input:checked {
  background: #202020;
}

.checkbox__input:checked::after {
  left: 50%;
  right: 5.54%;
  transition: 0.2s linear;
  background: #3ddc84;
}

.checkbox__name {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  margin-left: 12px;
  color: #fff;
  text-align: center;
  line-height: 18px;
  margin-top: 4px;
}

@media screen and (max-width: 768px) {
  .checkbox__name {
    font-size: 14px;
  }

  .checkbox {
    padding-top: 38px;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 430px) {
  .checkbox {
    padding: 37px 0 43px;
  }

  .checkbox__name {
    margin-left: 12px;
    font-size: 11px;
  }
}
