.about-me {
  padding: 112px 0 101px;
  margin: 0 auto;
  max-width: 1140px;
  width: calc(100% - 140px);
  box-sizing: border-box;
  color: #fff;
}

.about-me__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  margin: 0;
}

.about-me__block {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 66px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  font-family: Inter;
  margin: 0 0 18px;
}

.about-me__job {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 26px;
}

.about-me__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 auto;
}

.about-me__github-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.about-me__github-link:hover {
  transition: opacity 0.5s linear;
  opacity: 0.5;
}

.about-me__avatar {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about-me {
    width: calc(100% - 100px);
    padding: 91px 0;
  }

  .about-me__block {
    margin-top: 67px;
  }

  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 19px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 620px) {
  .about-me {
    width: calc(100% - 28px);
    padding: 70px 0;
  }

  .about-me__name {
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
  }

  .about-me__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .about-me__block {
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 8px;
  }

  .about-me__avatar {
    width: 292px;
    height: 352px;
    margin: 0 auto;
  }
}
